*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Navbar {
  background-color: #94C885;
  display: flex;
  padding: 16px;
  font-family: sans-serif;
  color: rgb(2, 2, 2);
}

.Navbar__Link {
  padding-right: 8px;
}

.Navbar__Items {
  display: flex;
}

.Navbar__Items--right {
  margin-left:auto;
}

.Navbar__Link-toggle {
  display: none;
}

#logo{
    height: 50px;
}

.Navbar__Link img{
    height: 40px;
    vertical-align: middle;
}

.Navbar__Link a{
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: black;
    font-size: 20px;
    vertical-align: middle; 
}

body{
  background-color: #2A292F;
}

header li{
  list-style: none;
  text-align: center;
  display: inline-block;
  padding: 10px;
}

.imagem_parallax{
    background-image: url(img/pessoas_atividade.png);  

    min-height: 500px;

    opacity: 60%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#titulo{
  height: 8em;
  width: 100%;
  background-color: #94C885;
}

#titulo{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center; 
}
h1{
  font-family: sans-serif;
  font-weight:bolder;
  color: #2A292F;
  font-size: 50px;
}

h2{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center; 
  font-family: sans-serif;
  font-weight:bolder;
  color: white;
  font-size: 30px;
  margin: 25px;
}

#texto1{
  font-family: sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: white;
  word-break:normal;
  padding-right: 200px;
  margin: 30px;
  width: 40em;
  height: 2em;
}

#inicio img{
display: grid;
grid-area: sidebar;
}


#inicio {
    align-items: center;
    padding: 24px,80px,128px,80px;
}

footer{
  background-color: #18171B;
  display: flex;
  justify-content: space-between;
  height: 10em;
}

footer h3{
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
  color: white;
  margin: 10px;
  padding: 10px;
}

footer p{
  font-size: 15px;
  font-family: sans-serif;
  font-weight: bold;
  color: white;
  word-break: normal;
  padding: 10px;
  margin: 10px;
  border: 10px;
}

footer a{
  font-size: 15px;
  font-family: sans-serif;
  font-weight: bold;
  color: white;
  text-decoration: none;
  margin: 10px;
  padding: 10px;
}

footer ul{
  list-style: none;
}