

header
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(148, 200, 133);
}

#Home{
 font-family: 'Times New Roman', Times, serif;
 font-weight: bold;
 font-size: 10px;
}

#info{
 font-family: 'Times New Roman', Times, serif;
 font-weight: bold;
 font-size: 10px;
}