
body
{
height: 200px;
width: 100px;
}

header
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(148, 200, 133);
}

#Home{
 font-family: 'Times New Roman', Times, serif;
 font-weight: bold;
 font-size: 10px;
}

#info{
 font-family: 'Times New Roman', Times, serif;
 font-weight: bold;
 font-size: 10px;
}

.icone{
 size: 10px 10px;
}

.divisor{
   height: 20px;
   border-right: 1px solid black;
}