
body
{
height: 100%;
width: 50%;
}

header
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(148, 200, 133);
}

#logo{
  height: 10px;
}

#Home{
 font-family: 'Times New Roman', Times, serif;
 font-weight: bold;
 font-size: 10px;
}

#info{
 font-family: 'Times New Roman', Times, serif;
 font-weight: bold;
 font-size: 10px;
}

.icone{
  height: 10px;
  width: 10px;
}

.divisor{
   height: 20px;
   border-right: 1px solid black;
}